
@font-face {
  font-family: 'CenturyOldstyleBT-Bold';
  src: url('CenturyOldstyleBT-Bold.eot?#iefix') format('embedded-opentype'),  url('CenturyOldstyleBT-Bold.woff') format('woff'), url('CenturyOldstyleBT-Bold.ttf')  format('truetype'), url('CenturyOldstyleBT-Bold.svg#CenturyOldstyleBT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
