/*Global Settings*/
html * {
  font-family: 'CenturyOldstyleBT-Roman', sans-serif;
  //transition: all 0.5s ease;
}

body {
  font-family: 'CenturyOldstyleBT-Roman', sans-serif;
  position: relative;
  overflow: inherit;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: $white3;
  }
  &::-webkit-scrollbar {
    width: 1.0rem;
    height: 1.0rem;
    background-color: $grey3;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $white;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#a6ce39), to(#dddddd), color-stop(.6, #a6ce39));
    cursor: pointer;
  }

  //&::before {
  //  content: '';
  //  position: absolute;
  //  display: block;
  //  width: 100%;
  //  height: 50px;
  //  top: 0;
  //}
  //
  //&::after {
  //  content: '';
  //  position: absolute;
  //  display: block;
  //  width: 100%;
  //  height: 50px;
  //  bottom: 0;
  //}
  //
  //&::before, &::after {
  //  position: fixed;
  //}
}

body.overflow {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  color: $black;
}

h1 {
  font-family: 'CenturyOldstyleBT-Roman', serif;
  font-size: 6rem;
  font-weight: bold;
}

h2 {
  font-size: 4.5rem;
  //color: rgb(0, 167, 98);
  //font-weight: bold;
  font-family: 'CenturySchoolbook', serif;
  line-height: 0.8;
  //text-align: left;
  //position: absolute;
  //left: 92.938px;
  //top: 59.5px;
  //z-index: 50;
}

h3 {
  font-family: 'CenturyOldstyleBT-Bold', serif;
  font-size: 3rem;
}

h4 {
  font-family: 'CenturyOldstyleBT-Roman', serif;
  font-size: 2.5rem;
}

h5 {
  //letter-spacing: 0.135rem;
  font-family: 'CenturyOldstyleBT-Roman', sans-serif;
  font-size: 2rem;
}

h6 {
  font-family: 'CenturyOldstyleBT-Roman', sans-serif;
  font-size: 1.75rem;
}

p {
  font-family: 'CenturyOldstyleBT-Roman', sans-serif;
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none !important;
  color: inherit;
  font-family: 'BrandonGrotesque-Black', serif;
  &:hover {
    color: inherit;
  }
}

/////////////////////////////
//Helping Classes for fonts
////////////////////////////
.text-orange {
  color: $orange !important;
}

.text-yellow {
  color: $yellow !important;
}

.text-purple {
  color: $purple !important;
}

.text-blue {
  color: $blue !important;
}

.text-green {
  color: $green !important;
}

.font-light {
  font-family: 'Montserrat-Light', sans-serif;
}

//Helping Classes for fonts Ends

/////////////////////////////
//Helping Classes For round image
////////////////////////////
.img-circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
  line-height: 4rem;
  color: $white;
  font-size: 16px;
  overflow: hidden;
}

//Helping Classes For round image ends

/////////////////////////////
//Buttons Configuration
////////////////////////////
[class*="btn-"] {
  position: relative;
  text-transform: uppercase;
  padding: 1rem 2rem;
  //margin-top: 5rem;
  font-size: 1.25rem;
  color: $white;
  font-family: 'BrandonGrotesque-Black', serif;
  background-color: $black3;
  border: 1px solid;
  float: right;
  @include transition(0.08s ease-in);

  &:hover {
    //@include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.35));
    ////background-color: transparent;
    //color: $green;
    //border: 1px solid $green;
  }

  &:focus {
    outline: none;
    outline-color: transparent;
  }
}

/////////////////////////////
//Background Configuration
////////////////////////////
@include config-bg-colors('bg-',
        'white' $white,
        'black' $black,
        'white4' $white4,
        'transparent' transparent,
        'blue' $blue,
        'liBlue' $lightBlue,
        'green' $green,
        'purple' $purple,
        'voilet' $voilet,
        'orange' $orange,
        'yellow2' $yellow2
);

//Background Configuration Ends

/////////////////////////////
//Buttons Configuration
////////////////////////////
@include config-button-bgcolors('btn-',
        'white' $white $black,
        'transparent' transparent $black,
        'blue' $blue $white,
        'green' $green $black,
        'black' $black4 $white
);

//button styling apply not to
.btn-group, .status-btn-holder, .btn-link {
  padding: 0;
  border: 0;
  &:hover {
    @include box-shadow(inherit);
    background-color: inherit;
    color: inherit;
    border: 0;
  }
}

//Buttons Configuration Ends

/////////////////////////////
//Dropdown Configuration
////////////////////////////
.dropdown-item {
  background-color: transparent;
  border-bottom: none;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  line-height: 2;
  font-size: 1rem;
  i {
    line-height: inherit;
  }
}

.dropdown-item:hover, .dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
  border-bottom: none;
  border-left: 3px solid $green2;
  color: $green2;
}

.dropdown {
  line-height: 0.9;
}

.dropdown:hover {
  .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    //left: auto;
    //right: 0;
  }
}

.dropdown-menu {
  left: auto;
  right: 0;
  min-width: 15rem;
}

//Dropdown Configuration Ends

/////////////////////////////
//Badges and Status Configuration
////////////////////////////
span.task-type-badge, i.task-type-badge {
  background: $blue;
  color: $white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: block;
  text-align: center;
  line-height: 1.6;
}

.status-button {
  display: inline-block;
  float: right;
  text-align: center;
  width: 100%;
  max-width: 15rem;
  height: 2rem;
  span {
    color: $white;
    border: none;
    border-radius: 0.2rem;
    padding: 0 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 2rem;
  }
  span.show-map {
    background-color: $blue;
    display: none;
    visibility: hidden;
    @include box-shadow(0 3px 7px 0 rgba(0, 0, 0, 0.2));
  }
  span.status {
    display: block;
    visibility: visible;
  }
  span.status.success {
    background-color: $green2;
  }
  span.status.cancel {
    background-color: $red2;
  }
  span.status.fail {
    background-color: $red;
  }
  span.status.decline {
    background-color: $grey2;
  }
  span.status.unassign {
    background-color: $grey3;
  }
  span.status.assign {
    background-color: $orange;
  }
  span.status.inprogress {
    background-color: $purple;
  }
  span.status.start {
    background-color: $blue;
  }
  span.status.accept {
    background-color: $voilet;
  }
  span.status.transparent {
    background-color: transparent;
    color: $grey2;
    border: 1px solid $grey2;
  }
}

.agent-status {
  content: '';
  border-radius: 50%;
  border: 1px solid $white3;
  width: 1rem;
  height: 1rem;
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  z-index: 5;
  &.free {
    background-color: $green2;
  }
  &.inactive {
    background-color: $grey;
  }
  &.busy {
    background-color: $yellow;
  }
}

//Task list type badge Configuration Ends

/////////////////////////////
//Image Uplaod Configuration
////////////////////////////
.avatar-upload {
  position: relative;
  max-width: 20rem;
  margin: 2rem 0;
  float: left;
  .avatar-edit {
    position: absolute;
    right: -1rem;
    z-index: 1;
    bottom: 1rem;
    input {
      display: none;
      + label {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: $green2;
        @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.35));
        cursor: pointer;
        font-weight: normal;
        @include transition(all 0.3s ease-in-out);
        text-align: center;
        color: $white;
        font-size: 1.25rem;
        position: relative;
        &:hover {
          color: $green2;
          background: $white;
          border-color: 1px solid $green2;
        }
        i {
          top: 30%;
          position: relative;
        }
      }
    }
  }

  .avatar-preview {
    width: 10rem;
    height: 10rem;
    position: relative;
    border-radius: 50%;
    border: 2px solid $green;
    @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.35));
    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

//Image Uplaod Configuration Ends

/////////////////////////////
//Custom Checkbox Configuration
////////////////////////////
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: auto;
  margin-right: 1rem;

  /* Hide the browser's default radio button */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.75rem;
    height: 1.75rem;
    background-color: $white3;
    border-radius: 50%;
    display: table;
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: $white3;
  }

  /* When the radio button is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: $green2;
    @include box-shadow(0 10px 15px 0 rgba(0, 0, 0, .15));
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  input:checked ~ .checkmark i {
    color: $white;
  }

  /* Style the indicator (dot/circle) */
  //.checkmark:after {
  //  top: 9px;
  //  left: 9px;
  //  width: 8px;
  //  height: 8px;
  //  border-radius: 50%;
  //  background: white;
  //}

  .checkmark i {
    font-size: 0.75rem;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    color: $lightGrey;
  }
}

//Custom Checkbox Configuration Ends

/////////////////////////////
//Custom Tooltips Configuration
////////////////////////////
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: $darkGreen;
    color: $white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

//Custom Tooltips Configuration Ends

/////////////////////////////
//Datatables Configuration
////////////////////////////
.dataTables_wrapper {
  .dataTables_length {
    font-size: 1.25rem;
    select {
      font-size: 1.5rem;
      height: auto;
    }
  }
  .dataTables_info {
    font-size: 1.25rem;
  }
  .dataTables_filter, .dataTables_filter input {
    font-size: 1.5rem;
  }
  .dataTables_filter input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $black;
    height: auto;
  }
  .dataTables_paginate {

  }

  .page-link {
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    min-width: 3rem;
  }
}

//Datatables Configuration Ends

/////////////////////////////
//Close Btn Configuration
////////////////////////////
.close-btn {
  content: '';
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: -4.5rem;
  right: 0;
  color: $white;
  border-radius: 50%;
  background-color: $green;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/close.png');
  background-size: contain;
  display: block;
  z-index: 5;
  margin: 0.5rem 1rem;
  padding: 0;
  cursor: pointer;
  @include transition(all 0.3s ease-in-out);
}

.close-btn:hover {
  @include box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.35));
  //@include transform(rotate(90deg));
}

//Close Btn Configuration Ends

/////////////////////////////
//Form Configuration
////////////////////////////
form.custom-form {
  margin: 2rem auto;

  a[type=submit] {
    padding: 1rem 2rem;
    -webkit-appearance: inherit;
  }

  .form-group {
    position: relative;
  }
  .form-group .form-control {
    height: auto;
    padding: 1.75rem 2rem;
    font-size: 1.25rem;
    margin: 0.75rem auto;
    border-radius: 0;
    //border: none;
    border: 1px solid $black3;
  }

  .custom-checkbox.show-password {
    padding-left: 2rem;
    .checkmark {
      width: 1.75rem;
      height: 1.75rem;
    }
    .checkmark i {
      font-size: 0.75rem;
    }
  }
  .custom-checkbox.transport-type {
    height: 5rem;
    padding-left: 5rem;
  }
}

.noresize {
  resize: none;
}

//Form Configuration Ends

/////////////////////////////
//Date Picker Configuration
////////////////////////////
.datepicker--day-name {
  color: $green2;
}

.datepicker--cell.-current- {
  color: $darkGreen;
  background: $lightGreen;
}

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
  background: $darkGreen;
}

.datepicker--cell.-in-range- {
  background: $lightGreen;
}

.datepicker--cell.-range-to- {
  border: 1px solid $lightGreen;
}

.datepicker--cell.-current-.-in-range- {
  color: $lightGreen;
}

.datepicker--cell.-in-range- {
  background: rgba(92, 196, 239, .1);
  color: #4a4a4a;
  border-radius: 0;
}

.datepicker--cell.-in-range-.-focus- {
  background-color: $green2;
}

.datepicker--cell.-range-from- {
  border: 1px solid $green2;
  border-radius: 4px 0 0 4px;
}

.datepicker--cell.-range-to- {
  border: 1px solid $green2;
  border-radius: 0 4px 4px 0;
}

.datepicker--cell.-selected-.-focus- {
  background: $green2;
}

.datepicker--time-row input[type=range]:focus::-webkit-slider-thumb {
  background: $green2;
  border-color: $green2;
}

.datepicker--time-row input[type=range]:focus::-moz-range-thumb {
  background: $green2;
  border-color: $green2;
}

.datepicker--time-row input[type=range]:focus::-ms-thumb {
  background: $green2;
  border-color: $green2;
}

//Date Picker Configuration Ends

/////////////////////////////
//Custom Accordian Card Configuration
////////////////////////////
.accordion {
  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: $black4;
    border-bottom: none;
    color: $white;
  }
  .card {
    border: none;
    [class*="btn-"] {
      border: none;
      white-space: normal;
      text-align: left;
      width: 100%;
      &:hover {
        @include box-shadow(none);
        background-color: transparent;
        color: $green;
        border: none;
      }
    }
  }
  .card-body {
    background-color: $black4;
    padding: 0 1.25rem;
  }
}

//Custom Accordian Card Configuration Ends
