/////////////////////////////////
// Theme Primary Colors
//////////////////////////////////

$white: #fff;
$white2: #f0f0f0;
$white3: #e2e2e2;
$white4: #f5f5f5;
$black: #000;
$black2: #1f1f1f;
$black3: #111111;
$black4: #202020;
$grey: #cccccc;
$grey2: #444650;
$grey3: #969696;
$lightGrey: #9f9f9f;
$blue: #0F5DC0;
$lightBlue: #00AAD2;
$red: red;
$red2: #e53935;
$purple: #3f51b5;
$lightPurple: #726ec7;
$voilet: #9F1ECC;
$pink: #f1536e;
$sea-green: #20c5da;
$sea-green2 : #c7dffc;
$darkGreen : #244b00;
$green: #a6ce39;
$green2 : #28a745;
$lightGreen : #84e19a;
$orange: #FC4D1A;
$yellow: #f9b61c;
$yellow2: #f3b52a;
$grey-calendar: #E6E7E8;

/////////////////////////////////
// Buttons Colors
//////////////////////////////////
